---

---

<h3 class="h3 flex space-x-4">
  <!-- <span>Season</span> -->
  <a href="/">
    <button class="image-button">
      <img src="/images/season/all.png" alt="Image Alt Text" />
      <span>ALL</span>
    </button>
  </a>
  <a href="/spring">
    <button class="image-button" id="spring">
      <img src="/images/season/spring.png" alt="Image Alt Text" />
      <span>Spring</span>
    </button>
  </a>
  <a href="/summer">
    <button class="image-button">
      <img src="/images/season/summer.png" alt="Image Alt Text" />
      <span>Summer</span>
    </button>
  </a>
  <a href="fall">
    <button class="image-button">
      <img src="/images/season/fall.png" alt="Image Alt Text" />
      <span>Fall</span>
    </button>
  </a>
  <a href="winter">
    <button class="image-button">
      <img src="/images/season/winter.png" alt="Image Alt Text" />
      <span>Winter</span>
    </button>
  </a>
</h3>

<style>
  /*  */
  .image-button img {
    width: 30px;
    height: 30px;
  }
</style>
